body {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    background-color: #16212b;
}

.neonText{
    animation: flicker 0.5s infinite alternate;
    color: #29f729;
}
h1{
    font-size: 4rem;
}
@keyframes flicker {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #29f729, 0 0 30px #29f729, 0 0 40px #29f729, 0 0 50px #29f729, 0 0 75px #29f729;
    }
    50% {
        text-shadow: none; /* Apaga el título */
        color: transparent; /* Hace que el color del texto sea transparente */
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #29f729, 0 0 40px #29f729, 0 0 50px #29f729, 0 0 60px #29f729, 0 0 80px #29f729;
        color: #29f729; /* Enciende el título */
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.header {
    background-color: #011827;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.logo img {
    max-width: 200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    animation: moveLeftRight 5s linear infinite;
    border: 2px solid C;
    margin-top: 20px;
    border-color: #29f729;
}
@keyframes moveLeftRight {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
.menu {
    align-items: flex-end;
    text-align: space-around;
    justify-content: space-between;
}

.menu-list {
    list-style: none;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    display: block; /* Cambia a display block */
    margin-bottom: 10px; 
    margin-left: 20px;
    margin-right: 20px;
}

.menu-link:hover {
    color: #fff; /* Cambia el color del texto */
    background-color: #011827; /* Cambia el color de fondo */
    border: 2px solid #29f729; /* Agrega un borde de color #29f729 */
    border-radius: 20px; /* Añade un radio de borde para hacerlo redondeado */
}
.h2{
    background-color: #29f729;
    text-align: center;
    border-radius: 20%;
}
    .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
footer{
    background-color: #16212b;
    text-align: center;
    color: azure;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.redesSociales{
    font-size: 25px;
    padding: 5px 10px;
}

.redesSociales a:first-child{
    color: #0866ff;
    position: fixed;
    bottom: 60px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
}

.redesSociales a:nth-child(2){
    color: #1DA1F2;
    position: fixed;
    bottom: 100px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
}

.redesSociales a:nth-child(3){
    color: #E1306E;
    position: fixed;
    bottom: 140px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
}

.redesSociales a:nth-child(4){
    color: green;
    position: fixed;
    bottom: 180px;
    right: 20px;  
}
.d-grid {
    background-color: #29f729;
}
.gap-2{
    background-color: #29f729;
}
